/*your CSS code here*/
.heading{
    font-size:35px;
    font-weight:bolder;
    text-transform:uppercase;
    padding-left:5px; /*16px*/
}

.intro{
    background-color:#2F5A78;
    color:white;
    padding-left:16px;
    padding-bottom:8px;
    margin-bottom:4px;
}

body{
    font-family:"Gill Sans", Calibri,"Trebuchet MS", sans-serif;
}

.prof{
    font-size:20px;
    font-weight:lighter;
}

.contactinfo{
    font-size:15px;
    padding-left:16px;
    padding-top:6px;
    padding-bottom:6px;
    background-color: lightslategray; /*#eeeeee*/
}

.subheading{
    font-size:20px;
    font-weight:bolder;
    color:#2F5A78;
    text-transform:uppercase;
    padding-left:16px;
}

.icon{
    color:#2F5A78;
}

.date{
    font-size:16px;
    color:#2F5A78;
    font-weight:bold;
}

.jobtitle{
    font-weight:bolder;
}

.social{
    padding-left:16px;
}

.skills ul li{
    display:flex;
    margin-bottom:10px;
    justify-content:space-between;
    align-items:center;
    margin-left:-15px;
}